<style type="text/css">
		.topDiv,.middleDiv,.bottomDiv {
			margin:0 auto;
			text-align: center;
			width:750px;
			display: block;
		}
		.recommendDiv {
			margin-top:10px;
		}
		.recommendTitle {
			height:44px;
			text-align: left;
			padding-left:25px;
			border-top: 8px solid #eee;
			color:#666;
			border-bottom: 1px solid #eee;
			line-height: 44px;
		}
		.recommendLeft {
			float:left;
			margin-left:25px;
		}
		.recommendRight {
			margin-left:10px;
		}
		.recommendRightDown {
			margin-top:10px;
		}
		.bottomDiv {
			margin-top:20px;
		}
		.fastTitle {
			height:44px;
			text-align: left;
			padding-left:25px;
			border-top: 8px solid #eee;
			color:#666;
			border-bottom: 1px solid #eee;
			line-height: 44px;
		}
		.fastList {
			padding:0px;
			margin: 0px;
			margin-top:10px;
		}
		.fastList li {
			list-style: none;
			float:left;
			width:33%;
			margin-top:3px;
			border-bottom:1px solid #eee;
			border-right:1px solid #eee;
		}
		.fastInfo_right {
			border-right: 0px solid #eee!important;
		}
		.fastList li a {
			text-decoration:none;
			color:#666;
		}
		.fastInfo_text_favour {
			color:#999;
			font-size: 12px;
		}
	</style>
	<div class = "containerDiv">
	<div class = "topDiv">
		<img src="http://p2na76cp9.bkt.clouddn.com/bankcardcardbanner.png" alt="快速办卡">
	</div>
	<div class = "middleDiv">
		<div class = "recommendTitle">特别推荐</div>
		<div class = "recommendDiv">
			<div class="recommendLeft">
            	<a href = "http://www.51ley.com/f/card/doEnter?where=card&doEnter=yes&rm=0&id=8&uid=bf10d3aa194e47b5b8fb9f1eaee94098">
            		<img src="http://p2na76cp9.bkt.clouddn.com/bankcardrecom1.png" alt="">
            	</a>
            </div>
            <div class="recommendRight">
            	<div class="recommendRightTop">
            		<a href = "http://www.51ley.com/f/card/doEnter?where=card&doEnter=yes&rm=0&id=11&uid=bf10d3aa194e47b5b8fb9f1eaee94098">
            			<img src="http://p2na76cp9.bkt.clouddn.com/bankcardrecom2.png" alt="">
            		</a>
            	</div>
            	<div class="recommendRightDown">
            		<a href = "http://www.51ley.com/f/card/doEnter?where=card&doEnter=yes&rm=0&id=e3c9270094f64be79f5dd4e32e5f01c8&uid=bf10d3aa194e47b5b8fb9f1eaee94098">
            			<img src="http://p2na76cp9.bkt.clouddn.com/bankcardrecom3.png" alt="">
            		</a>
            	</div>
            </div>
		</div>
	</div>
	<div class = "bottomDiv">
		<div class = "fastTitle">快速办卡</div>
		<ul class = "fastList">
			<li>
				<a href = "http://www.51ley.com/f/card/doEnter?where=card&doEnter=yes&rm=0&id=e3c9270094f64be79f5dd4e32e5f01c8&uid=bf10d3aa194e47b5b8fb9f1eaee94098"> 
					<div class = "fastInfo_logo">
						<img src="http://p2na76cp9.bkt.clouddn.com/shyh.png" alt="">
					</div>
					<div class = "fastInfo_text">
						<div class = "fastInfo_text_title">上海银行</div>
						<div class = "fastInfo_text_favour">申卡100%有优惠</div>
					</div>
				</a>
			</li>
			<li>
				<a href = "http://www.51ley.com/f/card/doEnter?where=card&doEnter=yes&rm=0&id=8&uid=bf10d3aa194e47b5b8fb9f1eaee94098"> 
					<div class = "fastInfo_logo">
						<img src="http://p2na76cp9.bkt.clouddn.com/payh.png" alt="">
					</div>
					<div class = "fastInfo_text">
						<div class = "fastInfo_text_title">平安银行</div>
						<div class = "fastInfo_text_favour">申卡100%有优惠</div>
					</div>
				</a>
			</li>
			<li class = "fastInfo_right">
				<a href = "http://www.51ley.com/f/card/doEnter?where=card&doEnter=yes&rm=0&id=11&uid=bf10d3aa194e47b5b8fb9f1eaee94098"> 
					<div class = "fastInfo_logo">
						<img src="http://p2na76cp9.bkt.clouddn.com/hxb.jpg" alt="">
					</div>
					<div class = "fastInfo_text">
						<div class = "fastInfo_text_title">华夏银行</div>
						<div class = "fastInfo_text_favour">申卡100%有优惠</div>
					</div>
				</a>
			</li>
			<li>
				<a href = "http://www.51ley.com/f/card/doEnter?where=card&doEnter=yes&rm=0&id=6&uid=bf10d3aa194e47b5b8fb9f1eaee94098"> 
					<div class = "fastInfo_logo">
						<img src="http://p2na76cp9.bkt.clouddn.com/pfyh.png" alt="">
					</div>
					<div class = "fastInfo_text">
						<div class = "fastInfo_text_title">浦发银行</div>
						<div class = "fastInfo_text_favour">申卡100%有优惠</div>
					</div>
				</a>
			</li>
			<li>
				<a href = "http://www.51ley.com/f/card/doEnter?where=card&doEnter=yes&rm=0&id=10&uid=bf10d3aa194e47b5b8fb9f1eaee94098"> 
					<div class = "fastInfo_logo">
						<img src="http://p2na76cp9.bkt.clouddn.com/gdyh.png" alt="">
					</div>
					<div class = "fastInfo_text">
						<div class = "fastInfo_text_title">光大银行</div>
						<div class = "fastInfo_text_favour">申卡100%有优惠</div>
					</div>
				</a>
			</li>
			<li class = "fastInfo_right">
				<a href = "http://www.51ley.com/f/card/doEnter?where=card&doEnter=yes&rm=0&id=7&uid=bf10d3aa194e47b5b8fb9f1eaee94098"> 
					<div class="fastInfo_logo">
						<img src="http://p2na76cp9.bkt.clouddn.com/zxyh.png" alt="">
					</div>
					<div class="fastInfo_text">
						<div class = "fastInfo_text_title">中信银行</div>
						<div class = "fastInfo_text_favour">申卡100%有优惠</div>
					</div>
				</a>
			</li>
			<li>
				<a href = "http://www.51ley.com/f/card/doEnter?where=card&doEnter=yes&rm=0&id=4&uid=bf10d3aa194e47b5b8fb9f1eaee94098"> 
					<div class = "fastInfo_logo">
						<img src="http://p2na76cp9.bkt.clouddn.com/jtyh.png" alt="">
					</div>
					<div class = "fastInfo_text">
						<div class = "fastInfo_text_title">交通银行</div>
						<div class = "fastInfo_text_favour">申卡100%有优惠</div>
					</div>
				</a>
			</li>
			<li>
				<a href = "http://www.51ley.com/f/card/doEnter?where=card&doEnter=yes&rm=0&id=1ffe764adcd24aa0b250e41f20ff9787&uid=bf10d3aa194e47b5b8fb9f1eaee94098"> 
					<div class = "fastInfo_logo">
						<img src="http://p2na76cp9.bkt.clouddn.com/xyyh2.png" alt="">
					</div>
					<div class = "fastInfo_text">
						<div class = "fastInfo_text_title">兴业银行</div>
						<div class = "fastInfo_text_favour">申卡100%有优惠</div>
					</div>
				</a>
			</li>
			<li class = "fastInfo_right">
				<a href = "http://www.51ley.com/f/card/doEnter?where=card&doEnter=yes&rm=0&id=1&uid=bf10d3aa194e47b5b8fb9f1eaee94098"> 
					<div class = "fastInfo_logo">
						<img src="http://p2na76cp9.bkt.clouddn.com/zsyh.png" alt="">
					</div>
					<div class = "fastInfo_text">
						<div class = "fastInfo_text_title">招商银行</div>
						<div class = "fastInfo_text_favour">申卡100%有优惠</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>